# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- Understand the role of Jupyter Notebook in data analysis
- Explore open source tools for Data Science development environments
- Recognize the importance of version control in collaborative data science projects
- Gain insights into common data visualization libraries and tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Visual Studio Code (VSCode)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
res = (3*4)+5
print(res)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
hour = 200/60
print(hour)

3.3333333333333335

## Author
Muheed Ahmed Khan